{% extends 'layout.html' %}
{% block body %}
    {% if form.product_code.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for error in form.product_code.errors %}
                <p>{{ error }}</p>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form method="POST" action="/extract">
        {{ form.hidden_tag() }}
        {{ form.product_code.label }} {{ form.product_code(size=20) }}
        {{ form.submit(class_="btn btn-info") }}
    </form>
{% endblock %}